<template name="purchases">
	<h2>Pending Purchases</h2>
	{{> reactiveTable class="table table-hover table-bordered" collection=orders_table settings = purchasesTableSettings}}
</template>

<template name="date">
	{{convert}}
</template>

<template name="ListingLink">
	<a href="listing?id={{ listingID }}">{{title}}</a>
</template>

<template name="weiToEther">
	{{convert}}
</template>

<template name="buy">
	{{> reactiveTable class="table table-hover table-bordered" collection=listings_table showRowCount=true settings = buyTableSettings}}
</template>


<template name="sell">
	{{#if seller}}
		{{#if shareholder}}
			<button type="button" onclick="location.href='/createListing';">Create New Listing</button>
		{{/if}}
		<h2>Pending Orders</h2>
		{{> reactiveTable class="table table-hover table-bordered" collection=orders_table showFilter=false settings=sellOrderSettings}}
		<h2>Current Listings</h2>
		{{> reactiveTable class="table table-hover table-bordered" collection=listings_table settings = sellListingSettings}}
	{{else}}
		You must connect an address to access the seller menu!
	{{/if}}
</template>

<template name="orderStatusButtons">
	{{#if unconfirmed}}
		{{#if seller }}
			<button type="button" onclick="confirmShipment({{orderID}})">Confirm Shipment</button> or 
			<button type="button" onclick="abortOrder({{orderID}})">Cancel Order</button>
		{{else}}
			Order Placed
			{{#if notShippedInTime}}
				<br><button type="button" onclick="abortOrder({{orderID}})">Cancel Order?</button>
			{{/if}}
		{{/if}}
	{{/if}}
	{{#if shipped }}
		{{#if seller }}
			Waiting for Delivery Confirmation
		{{else}}
			Order has been Shipped!<br>
			<button type="button" onclick="confirmDelivery({{orderID}})">Confirm Delivery</button>
			{{#if notArrivedInTime }}
			 	<br>or<br><button type="button" onclick="disputeOrder({{orderID}})">Dispute Order?</button>
			{{/if}}
		{{/if}}
	{{/if}}
	{{#if delivered }}
		Completed
	{{/if}}
	{{#if disputed }}
		Disputed
	{{/if}}
	{{#if aborted }}
		Aborted
	{{/if}}
</template>