<template name="faq">
<h2>FAQ</h2>

View the GitHub!<br>
<br>
Ordering from the Eternal Market<br>
<br>
Selling a product or service on the Eternal Market<br>
<br>
Is connecting to the Eternal Market safe?<br>
<br>
How can I protect my anonimity on the Eternal Market?<br>
<br>
Can the Eternal Market be shut down?<br>
<br>
Can my listing on the Eternal Market be shut down?<br>
<br>
Is sending/reciving funds on the Eternal Market safe?<br>
<br>
How do I use PGP to encrypt/decrypt shipping addresses?<br>

</template>
