<template name="listing"> 
	<h2>{{ title}}</h2><br>
	{{ listingDescription }}<br>
	Price: {{ price}}<br><br>
Successful Sales: {{salesSuccessful}}, Success Rate: {{ successRate}}, Last Successful Sale: {{ lastsuccessfulSale}}<br>
Listing Created: {{ timeListed}}<br>
Seller Public Key<br><textarea rows="4" cols="50" readonly>{{  publicKey}} </textarea><br><br>

        
	{{#if showOrderButton}}
		Paste your encrypted shipping address below:<br>
		<textarea rows="4" cols="50" id="delivery_address"></textarea><br>
		<button type="button" onclick="newOrder({{listingID}},delivery_address.value)">Place Order</button>
	{{/if}}<br><br>
	{{#if showRemoveListingButton}}
		<button type="button" onclick="removeListing({{listingID}})">Remove Listing</button>
	{{/if}}
	{{#if showFlagListingButton}}
		<button type="button" onclick="flagListing({{listingID}})">Flag as Inappropriate</button>
	{{/if}}
	<div id="button_result"></div>
</template>